<div class="accordion-section">
    <!-- Section header -->
    <ng-container *ngIf="section.children && section.children.length > 0; else fieldTemplate">
        <div class="section-header" (click)="toggleSection()" tabindex="0" role="button" [attr.aria-expanded]="isExpanded"
            [title]="section.label">
            <span class="arrow-indicator" [class.expanded]="isExpanded">&#9656;</span>
            <span class="section-title">{{ section.label }}</span>
        </div>
    </ng-container>
    <ng-template #fieldTemplate>
        <div class="section-header" (click)="handleFieldClick(section.label)" tabindex="0" role="button" [title]="section.label">
            <span class="section-title">{{ section.label }}</span>
        </div>
    </ng-template>

    <!-- Section content shown when expanded -->
    <div class="section-content" *ngIf="isExpanded">
        <!-- Render the fields -->
        <ul class="fields-list">
            <ng-container *ngFor="let child of section.children">
                <li *ngIf="!child.children || child.children.length === 0" (click)="handleFieldClick(child.label)" tabindex="0" role="button"
                    [title]="child.label">
                    {{ child.label }}
                </li>
                <ng-container *ngIf="child.children && child.children.length > 0">
                    <app-accordion-section [section]="child"
                        [parentPath]="parentPath ? parentPath + ' > ' + section.label : section.label"
                        (fieldSelected)="onChildFieldSelected($event)">
                    </app-accordion-section>
                </ng-container>
            </ng-container>
        </ul>
    </div>
</div>