<div class="simple-search">
    <!-- Add the checkbox here -->
    <div class="toggle-group-data">
        <label>
            <input type="checkbox" [(ngModel)]="showGroupDataOutside" />
            Show Group Data
        </label>
    </div>

    <!-- Conditionally render the SavedGroupAccordionComponent outside the accordion-container -->
    <div *ngIf="showGroupDataOutside">
        <app-saved-group-accordion [groups]="savedGroupFields">
        </app-saved-group-accordion>
    </div>
</div>