<div class="simple-search">
    <!-- Add the checkbox here -->
    <div class="toggle-group-data">
        <label>
            <input type="checkbox" [(ngModel)]="showGroupDataOutside" />
            Show Group Data
        </label>
    </div>

    <!-- Conditionally render the SavedGroupAccordionComponent outside the accordion-container -->
    <div *ngIf="showGroupDataOutside">
        <app-saved-group-accordion [groups]="savedGroupFields" (fieldSelected)="onSavedGroupFieldSelected($event)"
            (groupFieldTitleClicked)="onGroupFieldTitleClicked($event)">
        </app-saved-group-accordion>
    </div>

    <div class="accordion-container">
        <!-- Global loader for the entire accordion -->
        <div *ngIf="isLoading" class="global-loading">
            <span class="spinner"></span>
            <span>Loading Accordion...</span>
        </div>

        <!-- Render the accordion when data is loaded -->
        <ng-container *ngIf="!isLoading">

            <!-- Render the accordion sections -->
            <app-accordion-section *ngFor="let section of sections" [section]="section" [parentPath]="''"
                (fieldSelected)="onFieldSelected($event)">
            </app-accordion-section>
        </ng-container>
    </div>
    <!-- Use the QueryTable component here -->
    <app-query-table [selectedFields]="selectedFields" [dropdownData]="dropdownData"
        [selectedLanguage]="selectedLanguage" [searchName]="searchName" (operatorChange)="onOperatorChange($event)"
        (searchSelectedField)="onSearchSelectedField($event)" (deleteSelectedField)="onDeleteSelectedField($event)"
        (sendTableContent)="sendTableContent()">
    </app-query-table>
</div>