<div style="margin-left: 30px;">
    <h2>Dropdown Component Demo</h2>

    <h3>List View Dropdown</h3>
    <app-table-dropdown 
        [data]="listData" 
        [preselected]="preselectedItem"
        (selectedValueChange)="onListSelectionChange($event)"
        view="list">
    </app-table-dropdown>
    <p>Selected List Value: {{ selectedListValue | json }}</p>

    <h3>Table View Dropdown</h3>
    <app-table-dropdown 
        [data]="tableData" 
        [preselected]="preselectedItem"
        (selectedValueChange)="onTableSelectionChange($event)"
        view="table">
    </app-table-dropdown>
    <p>Selected Table Value: {{ selectedTableValue | json }}</p>
</div>
