<div class="selected-fields-table" *ngIf="selectedFields.length > 0">
  <table>
    <tbody>
      <tr *ngFor="let selected of selectedFields; let i = index">
        <td class="parent">{{ selected.parent }}</td>
        <td class="field">{{ selected.field }}</td>
        <!-- Operator column with localized dropdown -->
        <td class="operator">
          <app-localized-dropdown [options]="selected.operatorOptions" [selectedLanguage]="selectedLanguage"
            [(selectedValue)]="selected.operator" (selectedValueChange)="onOperatorChange($event, i)">
          </app-localized-dropdown>
        </td>
        <!-- Value column: dynamic control rendering -->
        <td class="value">
          <ng-container *ngIf="getValueControl(selected) as control">
            <ng-container *ngIf="control.show">
              <ng-container *ngIf="control.dual; else singleControl">
                <!-- Dual controls -->
                <input [type]="control.type" [(ngModel)]="selected.value[0]" placeholder="Value 1"
                  [ngClass]="{'error': !validateField(selected, 0)}" />
                <input [type]="control.type" [(ngModel)]="selected.value[1]" placeholder="Value 2"
                  [ngClass]="{'error': !validateField(selected, 1)}" />
              </ng-container>
              <ng-template #singleControl>
                <ng-container *ngIf="control.type === 'dropdown'; else otherControl">
                  <select [(ngModel)]="selected.value" [ngClass]="{'error': !validateField(selected)}">
                    <option value="">Select</option>
                    <option *ngFor="let option of control.options" [value]="option.key">
                      {{ option[selectedLanguage] }}
                    </option>
                  </select>
                </ng-container>
                <ng-template #otherControl>
                  <input [type]="control.type" [(ngModel)]="selected.value" placeholder="Enter value"
                    [ngClass]="{'error': !validateField(selected)}" />
                </ng-template>
              </ng-template>
            </ng-container>
          </ng-container>
        </td>
        <td>
          <button (click)="onSearchSelectedField(selected)">Search</button>
          <button (click)="onDeleteSelectedField(i)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- Additional content -->
  <input type="text" [(ngModel)]="searchName" placeholder="Enter name" />
  <button (click)="onSendTableContent()">Send Table Content</button>
</div>