<div class="selected-fields-table" *ngIf="selectedFields.length > 0">
  <table>
    <tbody>
      <tr *ngFor="let selected of selectedFields; let i = index">
        <td class="parent">{{ selected.parent.label }}</td>
        <td class="field">{{ selected.field.label }}</td>
        <!-- Operator column -->
        <td class="operator">
          <app-localized-dropdown [options]="selected.operatorOptions" [selectedLanguage]="selectedLanguage"
            [(selectedValue)]="selected.operator" (selectedValueChange)="onOperatorChange($event, i)">
          </app-localized-dropdown>
          <!-- Display error message only if the field has been touched -->
          <div class="operator-error" *ngIf="selected.operatorTouched && !isOperatorValid(selected)">
            Please select one option.
          </div>
        </td>
        <!-- Value column: dynamic control rendering -->
        <td class="value">
        </td>
        <td>
          <button (click)="onSearchSelectedField(selected)">Search</button>
          <button (click)="onDeleteSelectedField(i)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>  
</div>