<div class="modal-backdrop"></div>
<div class="custom-modal" [ngStyle]="{
    width: config.width,
    height: config.height,
    top: top + 'px',
    left: left + 'px',
    position: 'fixed'
  }" [class.draggable]="config.draggable">
    <div class="custom-modal-header" [ngStyle]="{ backgroundColor: config.headerColor || '#222' }"
        (mousedown)="onDragStart($event)" [style.cursor]="config.draggable ? 'move' : 'default'">
        <span>{{ config.title || 'Modal Title' }}</span>
        <button (click)="close()">×</button>
    </div>
    <div class="custom-modal-body">
        <ng-template #dynamicContent></ng-template>
        <ng-container *ngIf="config.template">
            <ng-container *ngTemplateOutlet="config.template; context: { modal: modalRef }"></ng-container>
        </ng-container>
    </div>
    <div *ngIf="config.showFooter !== false" class="custom-modal-footer">
        <ng-content select="[footer]"></ng-content>
    </div>
</div>