<div class="simple-search">
    <div class="dropdown-section">
        <app-table-dropdown [data]="systemTypeData" [isTableView]="false" [selectedValues]="selectedSystemTypeValueIds"
            [selectedLanguage]="currentLanguage" [multiSelect]="false"
            (selectedValuesChange)="onSelectedSystemTypeValueChange($event)">
        </app-table-dropdown>
    </div>
    <app-accordion-section *ngFor="let section of systemFieldsAccData" [section]="section" [parentPath]="''"
        [isLoading]="isLoading" (fieldSelected)="onFieldSelected($event)">
    </app-accordion-section>
</div>