<app-localized-dropdown [options]="dropdownData.number" [selectedLanguage]="selectedLanguage"
    [(selectedValue)]="selectedMatch" placeholder="DROPDOWN.PLACEHOLDER">
</app-localized-dropdown>
<br/>

<app-localized-dropdown [options]="dropdownData.match" [selectedLanguage]="selectedLanguage"
    [(selectedValue)]="selectedMatch" placeholder="DROPDOWN.PLACEHOLDER">
</app-localized-dropdown>

<br/>

<app-localized-dropdown [options]="dropdownData.state" [selectedLanguage]="selectedLanguage"
    [(selectedValue)]="selectedMatch" placeholder="DROPDOWN.PLACEHOLDER">
</app-localized-dropdown>